<a href="https://colab.research.google.com/github/sharanibiruda/Weather_prediction/blob/main/WeatherPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import numpy as np
import pandas as pd

import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LinearRegression

from matplotlib import pyplot as plt
%matplotlib inline

In [20]:
from google.colab import files
uploaded=files.upload()

Saving seattle-weather.csv to seattle-weather.csv

In [21]:
import io
weather=pd.read_csv(io.BytesIO(uploaded['seattle-weather.csv']))

In [22]:
weather.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5     rain
2  2012-01-03            0.8      11.7       7.2   2.3     rain
3  2012-01-04           20.3      12.2       5.6   4.7     rain
4  2012-01-05            1.3       8.9       2.8   6.1     rain

In [23]:
weather.columns

Index(['date', 'precipitation', 'temp_max', 'temp_min', 'wind', 'weather'], dtype='object')

In [24]:
weather.shape

(1461, 6)

In [25]:
weather.describe()

       precipitation     temp_max     temp_min         wind
count    1461.000000  1461.000000  1461.000000  1461.000000
mean        3.029432    16.439083     8.234771     3.241136
std         6.680194     7.349758     5.023004     1.437825
min         0.000000    -1.600000    -7.100000     0.400000
25%         0.000000    10.600000     4.400000     2.200000
50%         0.000000    15.600000     8.300000     3.000000
75%         2.800000    22.200000    12.200000     4.000000
max        55.900000    35.600000    18.300000     9.500000

In [26]:
weather.isnull().any()

date             False
precipitation    False
temp_max         False
temp_min         False
wind             False
weather          False
dtype: bool

In [28]:
weather['weather'].value_counts()

rain       641
sun        640
fog        101
drizzle     53
snow        26
Name: weather, dtype: int64

In [31]:
weather.loc[weather['weather'].isnull(),'weather'] = 'rain'

In [33]:
weather.loc[weather['weather'] == 'rain', 'weather'] = 1
weather.loc[weather['weather'] == 'snow', 'weather'] = 0

In [34]:
weather_num = weather[list(weather.dtypes[weather.dtypes!='object'].index)]

In [36]:
weather_y = weather_num.pop('temp_max')
weather_X = weather_num

In [37]:
weather.head()

         date  precipitation  temp_max  temp_min  wind  weather
0  2012-01-01            0.0      12.8       5.0   4.7  drizzle
1  2012-01-02           10.9      10.6       2.8   4.5        1
2  2012-01-03            0.8      11.7       7.2   2.3        1
3  2012-01-04           20.3      12.2       5.6   4.7        1
4  2012-01-05            1.3       8.9       2.8   6.1        1

In [38]:
X_train, X_test, y_train, y_test = train_test_split(weather_X, weather_y, test_size = 0.2, random_state = 4)

In [39]:
X_train.head()

      precipitation  temp_min  wind
559             0.0      11.1   3.1
989             0.0      13.9   2.8
247             0.0      11.1   3.1
1255            0.0      14.4   2.7
376             0.0      -2.8   1.9

In [40]:
model = LinearRegression()
model.fit(X_train, y_train)

LinearRegression()

In [41]:
prediction = model.predict(X_test)

In [42]:
np.mean((prediction-y_test)**2)

12.174152837172334

In [43]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction,
              'diff': (y_test-prediction)})

      actual  prediction      diff
1308    33.3   26.195348  7.104652
723      8.3   10.449870 -2.149870
988     30.6   22.365631  8.234369
178     22.8   18.084475  4.715525
1295    35.0   28.157763  6.842237
...      ...         ...       ...
1256    25.6   20.569316  5.030684
436     12.8   18.235104 -5.435104
798     15.0   17.425281 -2.425281
322     10.0   12.549791 -2.549791
172     23.9   21.530241  2.369759

[293 rows x 3 columns]

In [44]:
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree = 4)
X_poly = poly.fit_transform(X_train)

poly.fit(X_poly, y_train)
lin2 = LinearRegression()
lin2.fit(X_poly, y_train)

LinearRegression()

In [45]:
prediction2 = lin2.predict(poly.fit_transform(X_test))
np.mean((prediction2-y_test)**2)

10.587380483431371

In [46]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction2,
              'diff': (y_test-prediction2)})

      actual  prediction      diff
1308    33.3   27.895833  5.404167
723      8.3   10.484555 -2.184555
988     30.6   22.010319  8.589681
178     22.8   18.232842  4.567158
1295    35.0   30.213745  4.786255
...      ...         ...       ...
1256    25.6   21.354103  4.245897
436     12.8   15.956254 -3.156254
798     15.0   14.713456  0.286544
322     10.0   10.362195 -0.362195
172     23.9   22.251868  1.648132

[293 rows x 3 columns]

In [47]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor(random_state = 0)
regressor.fit(X_train, y_train)

DecisionTreeRegressor(random_state=0)

In [48]:
prediction3 = regressor.predict(X_test)
np.mean((prediction3-y_test)**2)

14.42726678043232

In [49]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction3,
              'diff': (y_test-prediction3)})

      actual  prediction  diff
1308    33.3       26.10  7.20
723      8.3        8.05  0.25
988     30.6       25.00  5.60
178     22.8       20.60  2.20
1295    35.0       34.40  0.60
...      ...         ...   ...
1256    25.6       22.60  3.00
436     12.8       15.00 -2.20
798     15.0       16.10 -1.10
322     10.0       11.70 -1.70
172     23.9       21.70  2.20

[293 rows x 3 columns]

In [50]:
from sklearn.ensemble import RandomForestRegressor
regr = RandomForestRegressor(max_depth = 10, random_state = 0, n_estimators = 100)
regr.fit(X_train, y_train)

RandomForestRegressor(max_depth=10, random_state=0)

In [51]:
prediction4 = regr.predict(X_test)
np.mean((prediction4-y_test)**2)

9.96659921295704

In [52]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction4,
              'diff': (y_test-prediction4)})

      actual  prediction      diff
1308    33.3   27.400085  5.899915
723      8.3   10.273262 -1.973262
988     30.6   23.989487  6.610513
178     22.8   15.869932  6.930068
1295    35.0   31.180966  3.819034
...      ...         ...       ...
1256    25.6   22.841523  2.758477
436     12.8   15.566515 -2.766515
798     15.0   14.787369  0.212631
322     10.0   11.586752 -1.586752
172     23.9   22.329403  1.570597

[293 rows x 3 columns]

In [53]:
regr2 = RandomForestRegressor(max_depth = 50, random_state = 0, n_estimators = 100)
regr2.fit(X_train, y_train)

RandomForestRegressor(max_depth=50, random_state=0)

In [54]:
prediction5 = regr.predict(X_test)
np.mean((prediction5-y_test)**2)

9.96659921295704

In [55]:
pd.DataFrame({'actual': y_test,
              'prediction': prediction5,
              'diff': (y_test-prediction5)})

      actual  prediction      diff
1308    33.3   27.400085  5.899915
723      8.3   10.273262 -1.973262
988     30.6   23.989487  6.610513
178     22.8   15.869932  6.930068
1295    35.0   31.180966  3.819034
...      ...         ...       ...
1256    25.6   22.841523  2.758477
436     12.8   15.566515 -2.766515
798     15.0   14.787369  0.212631
322     10.0   11.586752 -1.586752
172     23.9   22.329403  1.570597

[293 rows x 3 columns]